<%= simple_form_for @shelf, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :shelf_name, placeholder: 'Bookshelf Name' %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to 'Cancel', shelfview_index_path , :class => 'btn' %>
  </div>
<% end %>
