<h1>Authors</h1><hr><br><br>
<ul>
	<li><%= link_to 'All Authors',authors_path %></li><br><br>
	<li><%= link_to 'Search Author',authors_path %></li><br><br>
	<li><%= link_to 'Add Author', new_author_path %></li><br><br>

</ul>

<%= link_to 'Go Back', search_index_path%><br><br>
