<h1>Search for Books:</h1>
<br><br>
<a href="http://172.26.73.26:3000/books">All Books</a><br>
<a href="http://172.26.73.26:3000/authors">All Authors</a><br>
<a href="http://172.26.73.26:3000/publishers">All Publishers</a><br>
<a href="http://172.26.73.26:3000/issues">All Books Issued</a>
