<h1>Publishers</h1><hr>
<br><br>
<ul>
<li><%= link_to 'All Publishers', publishers_path,class:'btn' %><br><br>
<li><%= link_to 'Search Publisher', publishers_path,class:'btn' %><br><br>
<li><%= link_to 'Add Publisher', new_publisher_path,class:'btn' %><br><br>	
</ul>
<br><br><br>

<%= link_to 'Go Back', search_index_path,class:'btn' %>