<h1>Hello There! Welcome to the Library</h1><hr>
<br><br>
<%= link_to 'Manage Resources', search_index_path , class: 'btn'%></a>
<br><br>
<%= link_to 'Manage Members', memberview_index_path , class: 'btn'%></a>
