<h1>Hello Welcome to the Library</h1>
<br><br>
<a href="http://172.26.73.26:3000/members/new">Add a Member</a>
<br>
<a href="http://172.26.73.26:3000/search/index">Search for Books</a>
<br>
<a href="http://172.26.73.26:3000/members">Manage Memebers</a>
