<H1>Membership Essentials</H1>
<hr>
<br><br>
<ul>
<li><%= link_to 'All Members', members_path ,class: 'btn'%><br><br>
<li><%= link_to 'Add New Member', new_member_path, class:'btn' %>
</ul>
<br><br>
<%= link_to 'Go Back', hello_index_path, class:'btn'%>