<h1>Book Shelves</h1><hr>
<br><br>
<ul>
<li><%= link_to 'All Shelves', shelves_path %><br><br>
<li><%= link_to 'Search Shelf', shelves_path %><br><br>
<li><%= link_to 'Add Shelf', new_shelf_path %><br><br>	
</ul>
<br><br><br>

<%= link_to 'Go Back', search_index_path %>